.cart-dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;
  
  .cart-items {
    width:100%;
    height: 270px;
    display: flex;
    flex-direction: column;
    overflow:scroll;
    overflow-y: auto;
    overflow-x: hidden;

    .cart-items-alt{
      margin:auto;
      font-size: 1rem;
      letter-spacing: 3px;
    }
  }

  button {
    margin-top: auto;
  }

}
.cart-dropdown-btn{
  margin:0px auto;
  width:100% !important;
}
