@import"../../assets/_OO7BTS.v2.2";

.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  text-align: center;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: none;
  cursor: pointer;
  letter-spacing: 2px;
  border: 1px solid black;
  @include img-transition(0.3);
  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
}
